{% extends "layout.html" %}
{% block body %}




<div> <h1>About</h1></div>


<div style="width:60%; margin-left: 240px", align="left">
<p style="font-family:Josefin Sans;">
This webapp was made as an example on converting a Machine Learning project into a web application. A tutorial is
 on how to make this application is given detailed on the github page [Add like to project].

</p>

<p  style="font-family:Josefin Sans;">This recommender was made using Python, Sklearn, Pandas and Flask.</p>


 <footer>
  <p> &copy Hayden Rampadarath (2017)</p>
  <p>Contact information: <a href="mailto:haydenrampadarath@gmail.com">haydenrampadarath@gmail.com</a>.</p>
 </footer>

 </div>


{% endblock %}